@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'DOSGothic';
}
body {
    margin: 0px;
}
h1 {
    font-size : xx-large;
    text-align : center;
    border-bottom: 2px solid gray;
    margin: 0px ;
    padding: 20px;
}
h2 {
    font-size : 120%;
}
ol {
    font-size : 18pt;
    margin : 0px;
    padding-top : 12px;
}
input {
    font-size : 10pt;
    margin: 0px;
    padding: 5px;
}
.js {
    font-weight: bold;
    color: red;
}
#first {
    color: green;
}
span {
    color: blue;
}
a {
    color: black;
    text-decoration: none;
}
div {
    margin-top : 0px;
}
.left {
    margin-left : 32px;
    margin-right : 20px;
}
.right {
    margin-left : 20px;
    padding: 20px;
    border-left : 2px solid gray;
}
#parent {
   display:  grid;
   grid-template-columns: 1fr 4fr;
}
p {
   margin : 0px;
}
@media(max-width: 800px) {
       #parent {
           display:  block;
       }
       .right {
           border-left : none;
       }
       h1 {
           border-bottom : none;
       }
}